@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  // color: #CB63FF;
}

#app-container {
  display: grid;
  width: 90%;
  grid-template-columns: 1fr 3fr;
  border: 2px solid #CB63FF;
  margin: auto;

  #nav-bar {
    display: grid;
    // width: 90%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10em;
    border: 1px solid #eac0ff;
    background-color: #eac0ff;
  }

  #vis-container {
    display: grid;
    // width: 90%;
    //Five rows is accurate??: 3 for Producers/Brokers/Consumers, 2 for the lines connecting them
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    background-color: rgb(224, 240, 255);
    justify-content: space-evenly;

    #producers {
      g {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }
    }
  }
}