@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

#app-container {
  display: grid;
  grid-template-columns: 1fr 5fr;

  #nav-bar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 8.8em;
    align-content: space-between;
    padding: 4px;
    align-items: center;
    background-color: #eac0ff;

    a {
      margin: auto;
    }
  }

  #vis-container {
    // display: grid;
    // width: 90%;
    //Five rows is accurate??: 3 for Producers/Brokers/Consumers, 2 for the lines connecting them
    // grid-template-rows: 1fr;
    background-color: white;//rgb(224, 240, 255);
    // justify-content: space-evenly;
    // align-content: space-between;
    // margin: auto;
    padding: 1em 1em 1em 1em;
  }

  #debug-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 1em 1em;

    #debug-card {
      flex: 1 0 21%;
      background-color: rgb(255, 193, 193);
      border: 2px solid orangered;
      border-radius: 4px;
      padding: 1em 1em;
      margin: 1em 1em;
    }
  }

  .title {
    margin: auto;
  }

  #options-container {
    width: 80%;
    height: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}